

<div class="wrapper">
  <div class="inner">
    <h1>Menú Aplicación</h1>
    <%= link_to "Equipos", machines_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
    <%= link_to "Usuarios", users_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
    <%= link_to "Prestamos", loans_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
  </div>
</div>