<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">Gestión Escuela</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <%= link_to "Inicio", root_path, class: "nav-link active" %>
      <%= link_to "Menu", menu_index_path, class: "nav-link" %>
      <%= link_to "Contacto", contact_index_path, class: "nav-link" %>
    </nav>
  </div>
</header>