<main class="px-3">
  <h1>Inventario Equipos</h1>
  <h3>Escuela Awake Lab</h3>
  <p class="lead">Bienvenidos al Sistema de Gestión de Equipos, para entrar al menú debes iniciar sesión con los datos de tu escuela.</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Iniciar Sesión</a>
  </p>
</main>