<div id="<%= dom_id loan %>">
  <p>
    <strong>User:</strong>
    <%= loan.user_id %>
  </p>

  <p>
    <strong>Machine:</strong>
    <%= loan.machine_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= loan.status %>
  </p>

</div>
